body {
  background-color:hsl(212, 45%, 89%) ;
  font-family: 'Outfit', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box {
  box-sizing: border-box;
  margin: 70px auto 0 auto;
  width: 300px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 270px;
  border-radius: 10px;
}

h1 {
  font-size: 20px;
  text-align: center;
  padding: 0 5px;
  color: hsl(218, 44%, 22%);
  margin: 20px 0 0 0;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  text-align: center;
  padding: 0 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}